@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #222;
  background-color: #ddd;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

img {
  object-fit: contain;
  max-width: 100%;
}
